.has-error .form-control {
  -webkit-box-shadow: 0 0 3px 1px rgba(239, 5, 0, 0.25);
  -moz-box-shadow: 0 0 3px 1px rgba(239, 5, 0, 0.25);
  box-shadow: 0 0 3px 1px rgba(239, 5, 0, 0.25);
}

.form-buttons {
  padding-top: 10px;
  clear: both;
}

#rc-imageselect, .g-recaptcha {
  transform:scale(0.85);
  -webkit-transform:scale(0.85);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  float: right;
  display: inline-block;
  width: 240px;
}