.row-no-padding {
  padding-left: 0px;
  padding-right: 0px;

  [class*="col-"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 0;
    padding-left: 10px;
  }
}

.container-no-padding {
  @extend .container;
  padding-left: 0;
  padding-right: 0;
}