.navbar {
  border-radius: 0;
  background-color: $navbar-transparent;
  border: 0;
}

.navbar-new {
  @extend .navbar;
  background-color: $navbar-transparent;
}

.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
  color: $navbar-primary-text;
}

.navbar-new .navbar-nav > li > a {
  color: $navbar-primary-text;
  border-bottom: 4px solid rgba(78, 175, 186, 0.0);
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
  background-color: $navbar-highlight;
}

//.navbar-new .navbar-nav .active,
.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
  border-bottom: 4px solid $navbar-border;
}

.navbar-new .navbar-nav > ul > .dropdown-menu {
  background-color: $navbar-transparent;
}

.navbar-left > li {
  max-width: 80%;
}
.navbar-right > li {
  max-width: 350px;
}

.dropdown-menu {
  background-color: $navbar-dropdown;
}

.dropdown {
  z-index: 10;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: $navbar-highlight;
}

.navbar-new .navbar-text {
  color: $navbar-primary-text;
}

.navbar-new .navbar-toggle {
  border-color: $navbar-highlight;
  position: absolute;
  margin-left: 85%;
  float: right;
  width: 45px;
  z-index: 10;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus {
  background-color: $navbar-highlight;
}

.navbar-new .navbar-toggle .icon-bar {
  background-color: $navbar-primary-text;
}

.navbar-header-center {
  position: relative;
  float: left;
  padding: 0;
  text-align: center;
  max-height: 50px;
}
.navbar-brand {
  float:none;
}

@media screen and (min-width: 400px) {
  .navbar-new .navbar-brand {
    float: left;
    margin-right: 5px;
    margin-left: -15px;
  }
  .navbar-new .navbar-nav {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-new .navbar-nav > li {
    float: left;
  }
  .navbar-new .navbar-nav > li > a {
    border-radius: 0;
  }
  .navbar-new .navbar-nav.pull-right {
    float: right;
    width: auto;
  }
  .navbar-new .nav-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}
