/* Hexagon CSS shape with support for inline text */
#hexagon {
  width: 66px;
  height: 104px;
  background: rgba(49,176,213,1);
  position: relative;
  z-index:-1;
  margin:0 auto;
}
#hexagon:before {
  content: "";
  left:-66px;
  display:block;
  position: relative;
  border-right: 30px solid rgba(49,176,213,1);
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
#hexagon:after {
  content: "";
  right:-66px;
  top:-104px;
  position: relative;
  display:block;
  border-left: 30px solid rgba(49,176,213,1);
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
.hex-over {
  z-index:5;
  position:relative;
  width:100%;
  top:-100px;
  text-align:center;
  color:#fdfdfd;
  font-size:49px;
  padding:0 0px 1px 0px;
  font-weight:bold;
  letter-spacing:2px;
}

/* Static inverse triangle CSS shape with support for inline text */
.triangle-inverse {
  display: inline-block;
  z-index: 1;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 75px 65px 0 65px;
  border-color: #6c8eb9 transparent transparent transparent;
  float: left;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

.triangle-inverse:hover {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 77px 65px 0 65px;
  border-color: #223446 transparent transparent transparent;
  float: left;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

.triangle-inverse p {
  top: -70px;
  left: -45px;
  position: relative;
  width: 93px;
  height: 93px;
  margin: 0;
  color:#fdfdfd;
  font-size:30px;
  padding:0 0 1px 0;
  font-weight:bold;
  letter-spacing:2px;
}

/* Base container */
.featurette {
  background: $featurette-default;
  position: relative;
  margin: 35px 0;
  padding: 5% 10px 5% 10px;
  -webkit-box-shadow: 0 7px 13px 1px $featurette-shadow-light;
  box-shadow: 0 7px 13px 1px $featurette-shadow-light;
  min-height: 330px;
  z-index: 10000;
}
/* Top border */
.featurette:before,
.featurette:after {
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  border-width: 100px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -900;
}
/* Top section */
.featurette:before {
  border-top-width: 0;
  border-bottom-color: $featurette-default;
  top: -20px;
}

.featurette-shadow {
  @extend .featurette;
  -webkit-box-shadow: 0 7px 13px 1px $featurette-shadow-dark;
  box-shadow: 0 7px 13px 1px $featurette-shadow-dark;
}

/* Use for displaying large centered favicons */
.floating-favicon-large {
  text-align: center;
  font-size: 2.0em;
}
