/* Header section */

.header-center {
  text-align: center;
}

.thin-top {
  margin-top: 10px;
}

/* General text/font section */

.text-italic {
  font-style: italic;
}

.text-muted-blue {
  color: #486477;
}

.text-bleached {
  color: #f0f6ff;
}

.header-title {
  font-weight: 600;
  text-shadow: -1px -1px 0 rgba(255,255,255,0.3), 1px 1px 0 rgba(67, 67, 67, 0.75);
  font-size: $h1-font-size*1.2;
}

.header-small-title {
  text-shadow: -1px -1px 0 rgba(255,255,255,0.3), 1px 1px 0 rgba(67, 67, 67, 0.85);
}

h1 {
  font-size: $h1-font-size;
}