// add all variable declarations here

$navbar-transparent: rgba(78, 175, 186, 0.50);
$navbar-highlight: rgba(78, 175, 186, 0.50);
$navbar-dropdown: rgba(141, 217, 218, 0.35);
$navbar-border: rgb(33, 66, 78);
$navbar-primary-text: #FFF;

$navbar-font-size: 1.0em;
$featurette-default: #eeeeee;
$featurette-shadow-light: rgba(121, 137, 154, 0.80);
$featurette-shadow-dark: rgba(73, 79, 89, 0.80);
