<!-- primary partial for dynamic ajax actions -->
<div class="quota-index main-content">

    <!-- separate display into controllable and view-only quota -->

    <div class="quota-controllable">
      <!-- controllable quota -->
      <% access_control.quota_controllable.visible.each do |quotum| %>
        <%= render 'quota/partials/quotum', quotum: quotum %>
      <% end %>
    </div>
    <div class="quota-view-only">
      <!-- view only quota -->
      <% access_control.quota_view_only.visible.each do |quotum| %>
        <%= render 'quota/partials/quotum_view_only', quotum: quotum %>
      <% end %>
    </div>

</div>