<div class="container">

  <div class="text-center">
    <h1><%= title 'Welcome to Progressive Stack' %></h1>
    <div class="text-muted">
      <h5>check your privilege... manage your oppression</h5>
    </div>
  </div>
  <% set_meta_tags title: 'Home Page',
                   description: "Homepage for Progressive Stack - a site that allows you to sum your oppression and measure your privilege
                   ... it's your civic duty.",
                   keywords: %w[home landing about index objective mission social justice sjw politics activism progressive wallstreet occupy]%>

  <br><br><br>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-5">
      <h2> Hello world!</h2>

      <h2> Hello world!</h2>

      <h2> Hello world!</h2>

      <h2> Hello world!</h2>

      <h2> Hello world!</h2>

      <h2> Hello world!</h2>
    </div>
  </div>
</div>