<li class="blank-user">
  <%= link_to new_user_session_path, class: "display-inline" do %>
    <%= icon('sign-in') %> sign in
  <% end %>
</li>
<li class="blank-user">
  <%= link_to new_user_registration_path, class: "display-inline" do %>
    <%= icon('user-plus') %> sign up
  <% end %>
</li>
